body{
  font-family: 'Raleway', sans-serif;
}

header{
  font-family: 'Raleway', sans-serif;
}

#menu-container{
  font-family: 'Raleway', sans-serif;
}


#carousel.container{
  font-family: 'Raleway', sans-serif;
}



#info-container{
  font-family: 'Raleway', sans-serif;
}


.btn.btn-platzi:hover {
  background-color: #8ab542;
}

.breadcrumb-item active {
  color:black;
}

input.form-control:focus{
  border-color: #99c84a;
}

#header-container .login {
  color:white;
}

#header-container .navbar-toggler {
  color: white;
}

#search-bar {
  padding: 1em;
}

#carousel-example-generic img {
  margin:0 auto;
}

#info-container h4{
  text-align:center;
}

#info-container img {
  margin: 0 auto;
  margin-top: 2em;

}

#footer-container {
  background-color: #1c3643;
  color: white;
  padding: 3em 0;
}

#footer-container h4 {
  font-size: 16px;
}

#footer-container .nav-link {
  color: white;
}

@media (max-width: 768px) {
  #footer-container [class*="col-"] {
    margin-bottom: 2em;
  }
}

button{
 background-color: #0080FF; 
  color:white;
}



#breadcrumbs-container .breadcrumb .breadcrumb-item {
/*  color: #1c3643; */
color:white;
margin-left: 1em;
}

#breadcrumbs-container .breadcrumb .breadcrumb-item.active {
  color: #95a5a6;
}

#breadcrumbs-container .breadcrumb-item+.breadcrumb-item::before {
  content: ">";
}


#productos-container .list-group+.list-group{
  margin-top: 1em;
}

@media (max-width: 768px) {

  .listado-productos {
    margin-top: 2em;
  }
  .listado-productos .card-img-top {
    width: 100%;
  }
}

#productos-container {
  margin-bottom: 2em;
}


#paginator-container .page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover {
 /* background-color: #99c84a; */
 background-color: #565667;
  /* border-color: #99c84a; */
  border-color: #565667; 
  color:white;
}

#paginator-container .page-item:not(.active):not(.disabled) .page-link{
/*  color: #99c84a; */
  color: #565667;
}

#productos-container .list-group-item.list-group-action.active{
  /*background-color: #99c84a; */
  background-color: #565667;
  /*border-color: #99c84a;*/
}


#header-container,
#info-container{
/*  background-color: #99c 84a; */
  background-color: #565667;
  color:white;

}
.btn.btn-platzi {
/*background-color: #99c84c; */
background-color: #565667;
color:white;
}

#menu-container {
  background-color: #f7f7f9;
}

/*
#productos-container {
  background-color: #9c9ccd;
}

*/
#breadcrumbs-container .breadcrumb {
  background-color: #565667;
  padding-left: 0;
}

#menu1{
  background: #BDBDBD;
  width: 600px;
  height: 650px;
  margin-top:1em;
  margin-bottom: 1em;
}

#prueba1 {
  text-align: center;
  border-color: black;
  margin-top: 2em;
  font-size: 20px;

}

#vendidos{

  font-size: 10px;
  text-align: center;
  margin-top: 1em;
}

#imagen-producto{

  height: 430px;
  background: white;
  width: 500px;
  height: 500px;
  margin-top: 2em;
  margin-bottom: 2em;
}

#datos{
  margin-top: 2em;
  margin-bottom: 2em;
}

#container-productos{
  background: #265
  
}



#boton1{
  background: white;
  color: #666;
}

#boton2{
  background: #ddd;
  color:black;
}

#can{
  margin-bottom: 0;
  font-size: 13px;
}
#cantidad{
  margin: 1px;
}

#input2{
  height: : 25px;
  width: 20px;
}

#comprar{
  margin-top: 65px;
}

#precios{
margin-top: 1.5em;
}

#cosa21{
  
  height: 70px;
}

form{
  margin-left: 1em;
}

#imagenes{
	width:272px;
	height:185px;
}

#carousel-container{
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.col-xs-12 col-md-4{
  text-align: center;
}

#info-container{
  margin-bottom: 1.5em;
}